body {
    background-color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}

.title {
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 9999;
}
.title header {
    background-color: rgb(18, 77, 187);
    height: 100px;
    display: flex;
    align-items: center;
    width:100%;
    
}
.title header img {
    height: 50px;
    width:  50px;
    position: relative;
    left: 5%;
}
.title header h1 {
    color: aliceblue;
    font-size: 45px;
    margin: 0;
    position: absolute;
    left: 50%; /* Set x-coordinate to center of the webpage */
    transform: translateX(-50%); /* Adjust for half of the element's width */
}
.title nav {
    background-color: rgb(34, 34, 107);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title nav a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}
.event {
    background-color: rgba(26, 26, 26, 0.781);
    margin: 20px auto;
    width: 85%;
    height:200px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    top:150px;
    
}
.event h1 {
    color: aliceblue;
    font-size: 25px;
    margin: 0 0 10px;
}
.event p {
    font-size: 18px;
    color: aliceblue;
    margin: 0;
    width: 85%;
}

.event img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.event button {
    background-color: rgb(0, 119, 255);
    width: 80px;
    height: 35px;
    text-align:center;
    font-size: 18px;
    color: azure;
    border :none ;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.event button a {

    color: rgb(255, 255, 255);
    text-decoration: none;
}

.event li{
    list-style: none; 
}

.event li a{
    font-size: 18px;
    color: aliceblue;
    margin: 0;
    width: 85%;
    text-decoration: none;
}

.apps{
    background-color: rgba(26, 26, 26, 0.781);
    margin: 20px auto;
    width: 90%;
    height:200px;
    box-sizing: border-box;
    position: relative;
    top:150px;
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.apps img{
    width: 130px;
    height: 130px;
    position: relative;
    top: 10px;
    left: 10px;
}
.apps h1{
    color: rgb(230, 230, 230);
    font-size: 25px;
    margin: 0 0 10px;
    position: absolute;
    top:20px;
    left: 180px;
}
.apps p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 0px;
    position:relative;
    bottom: 80px;
    left: 180px;
}

.apps a {
    font-size: 18px;
    color: rgb(81, 171, 250);
    margin: 0px;
    position: relative;
    bottom: 80px;
    left: 180px;
    
}

.apps button {
    background-color: rgb(0, 110, 255);
    width: 90px;
    height: 35px;
    text-align:center;
    font-size: 18px;
    color: azure;
    border :none ;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.apps button a {
    position: static;
    color: antiquewhite;
    text-decoration: none;
    font-size: 20px;

}


.push {
    background-color: rgba(26, 26, 26, 0.781);
    margin: 20px auto;
    width: 90%;
    height:500px;
    box-sizing: border-box;
    position: relative;
    top:150px;
    display: block;
}

.push label{
    color: rgb(230, 230, 230);
    font-size: 25px;
    margin: 0 0 10px;
    position: absolute;
    top:20px;
    left: 20px;
}

.push button{
    background-color: rgb(0, 110, 255);
    width: 90px;
    height: 35px;
    text-align:center;
    font-size: 18px;
    color: azure;
    border :none ;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.push label input{
    background-color: rgb(255, 255, 255);
}

.push label textarea{
    position: relative;
    top: 50px;
    resize: none;
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    color:aliceblue;
    font-size: 20px;
    
}


.tm {
    background-color: rgb(18, 77, 187);
    color: aliceblue;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0px;
}